/* components/Surveys.css */
.surveys-container {
    background-color: rgba(92, 173, 240, 0.2); /* Light blue background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    color: rgb(2, 8, 68);
    margin-bottom: 10px;
  }
  .selected-option {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .option-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="button"] {
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .survey-list {
    margin-top: 20px;
    display: block;
  }
  
  .survey-list h3 {
    font-size: 1.2rem;
    color: rgb(2, 8, 68);
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    display: block;
  }
  
  strong {
    font-weight: bold;
  }
  .survey-header{
    display: flex;
  }
  .options-form{
  
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .option-comp{
    margin: 10px;
    border: 0.2px dotted blue;
  }