/* components/JobListings.css */
.job-listings-container {
    margin-top: 20px;
   
  }
  .listing-container{
    display: block;
  }
  h2 {
    font-size: 1.5rem;
    color: rgb(2, 8, 68);
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.2rem;
    color: rgb(2, 8, 68);
    margin-bottom: 5px;
  }
  
  p {
    margin-bottom: 5px;
  }
