



.page-content{
    padding: 20px;
    background-color: lightblue;
    height: 100vh;
  }
  
  h1 {
    font-size: 2.5rem;
    color: rgb(2, 8, 68);
    margin-bottom: 20px;
  }
  
  
  
  h2 {
    font-size: 2rem;
    color: rgb(2, 8, 68);
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(2, 8, 68);
    padding-bottom: 5px;
  }
  