/* register.css */
.register-container {
    background-color: #72a4cf; /* Light blue background */
    padding: 20px;
    min-height: 100vh;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
  }
  
  .register-container h2 {
    margin-bottom: 20px;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
  }
  
  .register-container input {
    margin-bottom: 10px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 15px;
  }
  
  .register-container button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  